body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

header {
  background-image: url('path/to/your/background-image.jpg');
  background-size: cover;
  background-position: center;
  height: 200px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px;
  font-size: 2em;
}

h3, h4 {
  margin: 0;
  padding: 10px;
}

.search-container {
  text-align: center;
  padding: 20px;
}

#search-box {
  width: 80%;
  padding: 10px;
  font-size: 1em;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h2, .product p {
  margin: 10px 0;
}

button {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #128C7E;
}
